.register-container {
    margin-left:25%; 
    margin-right: 25%; 
    padding-top: 3px; 
    padding-bottom: 3px;
    /* background-color: #f8f7f2; */
}

.btn-flat {
    padding-top: 60px;
}

.submitButton {
    margin-top: 2%;
    margin-bottom: 2%;
}
